
@{
    ViewBag.Title = "First Names Of Drivers";
}

<h2>First Names Of Drivers</h2>

<table>
    @foreach (var result in Model)
    {
        <tr>
            <td>@result</td>

        </tr>
    }
</table>