

@{
    ViewBag.Title = "Reports";
}

<h2>List of reports...</h2>
<br/><br/>
<h3>@Html.ActionLink("First names of all drivers", "FirstNamesOfDrivers", "Reports")</h3>
<br/>
<h3>@Html.ActionLink("All races for a given driver", "AllRaceResultsForDriverX", "Reports")</h3>
<br />
<h3>@Html.ActionLink("All drivers in a given year", "AllDriversForYearX", "Reports")</h3>
<br />
<h3>@Html.ActionLink("All teams in a given year", "AllTeamsForYearX", "Reports")</h3>
