@{
    ViewBag.Title = "About Steve's Race Central...";
}
<h2>@ViewBag.Title.</h2>


<h3>Can we ever get enough speed? Join F1H20 for the fastest high-action races on the water.</h3>
<p>On these pages, you will find up-to-date race data for the events in this fast-moving international competition. This site is for Steve to use in his work as the official voice of the F1H20 race series.</p>
<p>Here's Steve Michael at work during the qualifying trials for the Grand Prix of Sharjah (on the Arabian Gulf in Sharjah, United Arab Emirates) on December 15, 2016...</p>
<br/>
<iframe src="https://player.vimeo.com/video/195847733" 
        width="640" height="360" frameborder="0" 
        webkitallowfullscreen mozallowfullscreen allowfullscreen>
</iframe>
<br/>
<br/>
<p>... and here's Steve "The Voice" Michael interviewing the winner of the Grand Prix Abu Dhabi (Abu Dhabi, United Arab Emirates) on December 9, 2016...</p>
<br/>
<iframe width="560" height="315" 
        src="https://www.youtube.com/embed/0zHduNsCYeM" 
        frameborder="0" allowfullscreen>
</iframe>
<br/>
<p>See you at the races!</p>

