@{
    ViewBag.Title = "Steve's Race Central";
}

<div class="jumbotron">
    <h2>Steverino's Race Central!</h2>
</div>


<div>
    <img src="~/Content/images/image.php-21.jpeg" width="350">
    <img src="~/Content/images/27-AlHameli.jpg" width="350"/>
    <img src="~/Content/images/dubai2016.jpg" width="350">
</div>

